{% extends 'base.html' %}
{% load static %}
{% block title %}
    儲存庫預覽
{% endblock %}
{% block body %}
    <div class="container container_close">
        <div class="content">
            <form>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">Jenkins File</button>
                </a>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">analysis</button>
                </a>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">code</button>
                </a>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">build</button>
                </a>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">test</button>
                </a>
            </form>
        </div>
    </div>
    <div class="container container_close">
        <div class="repo_content">
            <h1 style="text-align: center">儲存庫預覽區塊</h1>
            <div>
                <h2>{{ username }} / {{ reponame }}</h2>
            </div>
            <div>
                <h5>{{ branchsum }} 3 branches</h5>
            </div>
            <hr style="height: 3px; background: #aaaaaa; margin: 0">
            <div class="align_both_sides">
                <div class="ver_mid">
                    <div style="padding: 15px;">
                        <button class="btn-sm ver_mid">
                            <span style="width: 100px;">{{ branchname }}branchname</span>
                            <img src="{% static 'core/images/arrow-down.png' %}"
                                 style="width: 10px; float: right" alt="drop_down">
                        </button>
                    </div>
                    <div>
                        <h5>{{ path }} path / file {{ file }}</h5>
                    </div>
                </div>
                <div class="ver_mid">
                    <div>
                        <button class="btn-sm ver_mid" style="padding: 7px;">
                            <img src="{% static 'core/images/download.png' %}" 
                                 style="width: 15px; margin: auto 5px;" alt="download">
                            <img src="{% static 'core/images/arrow-down.png' %}" 
                                 style="width: 10px; margin: auto 5px;" alt="drop_down">
                        </button>
                    </div>
                    <div style="padding: 15px;">
                        <button class="btn-sm"><span style="width: 60px;">clone</span></button>
                    </div>
                </div>
            </div>

            <div class="frame_gray align_both_sides">
                <div class="ver_mid">
                    <div class="col-md-auto">
                        <h6>{{ author }}author_name</h6>
                    </div>
                    <div style="color: #585858">
                        {{ commit_info }}init commit 第一次提交
                    </div>
                </div>
                <div class="ver_mid">
                    <div class="col-md-auto">
                        <h6>{{ time }}1 day ago</h6>
                    </div>
                    <div class="copy_sha">
                        <h6 style="margin-right: 5px;">{{ commit_no }}200ca979</h6>
                        <button class="btn-sm">COPY</button>
                    </div>
                </div>
            </div>

            <div>
                <div class="frame_files_header">
                    <div style="width: 300px;" class="col-md-auto text_left">
                        <h5>Name</h5>
                    </div>
                    <div style="width: calc(100% - 500px);" class="col-md-auto text_left">
                        <h5>last commit</h5>
                    </div>
                    <div style="width: 200px;" class="col-md-auto text_left">
                        <h5>last update</h5>
                    </div>
                </div>

                <div class="frame_files_content">
                    <div style="width: 300px;" class="col-md-auto text_left">
                        <h6>README</h6>
                    </div>
                    <div style="width: calc(100% - 500px);" class="col-md-auto text_left">
                        <h6>init</h6>
                    </div>
                    <div style="width: 200px;" class="col-md-auto text_left">
                        <h6>1 day ago</h6>
                    </div>
                </div>
                <div class="frame_files_footer">
                    <div style="width: 300px;" class="col-md-auto text_left">
                        <h6>{{ filename }}</h6>
                    </div>
                    <div style="width: calc(100% - 500px);" class="col-md-auto text_left">
                        <h6>{{ last_commit_info }}</h6>
                    </div>
                    <div style="width: 200px; text-align: left;" class="col-md-auto text_left">
                        <h6>{{ last_update_time }}</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}