{% extends 'base.html' %}
{% block title %}
    {{ course.name }}
{% endblock %}
{% block body %}
    <div class="container container_close">
        <div class="content">
            <h1>{{ course.name }}</h1>
            <h2>Labs</h2>
            <table class="table table-light table-hover">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">是否繳交</th>
                        <th scope="col">實驗名稱</th>
                        <th scope="col">繳交期限</th>
                    </tr>
                </thead>
                <tbody>
                {% for lab in labs %}
                    <tr>
                        <td><input class="form-check-input" type="checkbox" aria-label="" checked></td>
                        <td><a href="{% url 'lab' course.id lab.id %}">{{ lab.name }}</a></td>
                        <td>{% if lab.deadline %}{{ lab.deadline }}{% else %}無{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}