{% extends 'base.html' %}
{% load utils %}
{% block title %}
    {{ lab.name }}
{% endblock %}
{% block body %}
    {% include 'components/sidebar.html' %}
    <div class="container container_close">
        <div class="content">
            <h1>{{ lab.name }}</h1>

            {% with display='' %}
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label text-start">關聯的專案</label>
                <div class="px-0 col-sm-8">
                    <div class="card">
                        <div class="card-body-close">
                            <p class="card-text text-start" id="id_repo">
                                {% if project.name %}
                                    <a href="{% url 'repo_project' user.username project.name %}">{{ project.name }}</a>
                                    {% set_value 'none' as display %}
                                {% else %}
                                    無
                                    {% set_value 'block' as display %}
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#updateRepo">更新</button>
                </div>
            </div>
            {# 更新 關聯專案 的互動視窗 #}
            <div class="modal fade" id="updateRepo" tabindex="-1" aria-labelledby="updateRepoLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-header">
                                <h5 class="modal-title" id="delModalLabel">請選擇想要更新的專案</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label for="select_repo" style="display:inline;"></label>
                                <select class="form-select" id="select_repo" name="select_repo">
                                    <option>無</option>
                                {% for repo in project_list %}
                                    <option>{{ repo.name }}</option>
                                {% empty %}
                                    <option>目前儲存庫上沒有任何專案，請先建立專案</option>
                                {% endfor %}
                                </select>
                                <label style="display: none;">
                                    <input name="origin_repo" value="{{ project.name }}">
                                </label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="submit" class="btn btn-primary" name="action" value="UpdateRepo">確定</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div>
                <div class="mb-3 row">
                    <label class="form-label text-start">實驗說明</label>
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-start" id="id_description">{% if lab.description %}{{ lab.description }}{% else %}無{% endif %}</p>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row align-items-center">
                    <label class="col-sm-2 col-form-label text-start">實驗繳交分支</label>
                    <div class="px-0 col-sm-10">
                        <div class="card">
                            <div class="card-body-close">
                                <p class="card-text text-start" id="id_branch">{{ lab.branch }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 row align-items-center">
                    <label class="col-sm-2 col-form-label text-start">繳交期限</label>
                    <div class="px-0 col-sm-10">
                        <div class="card">
                            <div class="card-body-close">
                                <p class="card-text text-start" id="id_dateline">{% if lab.deadline %}{{ lab.deadline }}{% else %}無{% endif %}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% if lab.template %}
                    <div class="mb-3 row align-items-center">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#newModal"
                                style="display: {{ display }}">使用模板建立新專案</button>
                    </div>
                    {# 建立 套用模板的專案 的互動視窗 #}
                    <div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="newModalLabel">專案資訊</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                    <div class="mb-3 text-start">
                                        <label class="form-label text-start" for="{{ form.name.id_for_label }}">專案名稱</label>
                                        {{ form.name }}
                                    </div>
                                    <div class="mb-3 text-start">
                                        <label class="form-label text-start" for="{{ form.description.id_for_label }}">專案敘述 (選填)</label>
                                        {{ form.description }}
                                    </div>
                                    {% for visible in form.visibility %}
                                    <div class="mb-3 form-check text-start">
                                        {{ visible.tag }}
                                        <label class="form-check-label" for="{{ visible.id_for_label }}">
                                            {{ visible.choice_label.name }}<br>
                                            <span style="color: #5A5A5A;">{{ visible.choice_label.info }}</span>
                                        </label>
                                    </div>
                                    {% endfor %}
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                        <button type="submit" class="btn btn-primary" name="action" value="CreateRepo">建立專案</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endwith %}
        </div>
    </div>

    <div class="container container_close">
        <div class="content">
            <a href="{% url 'lab_evaluation' course_id lab.id %}"><button class="btn btn-success">填寫互動式評量</button></a>
        </div>
    </div>
</div>
{% endblock %}