{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ form.name.value }}
{% endblock %}
{% block body %}
    {% include 'components/sidebar.html' %}
    <div class="container container_close">
        <div class="content">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8"><h1>{{ form.name.value }}</h1></div>
                <div class="col-sm-2 d-flex flex-row-reverse align-items-center">
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delModal">刪除 Lab</button>
                </div>
            </div>
            {# 刪除 Lab 的互動視窗 #}
            <div class="modal fade" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="delModalLabel">你確定要刪除 Lab 嗎?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <h6>此動作無法撤銷，將永久刪除 <span style="color: #0060C1">{{ form.name.value }}</span> 。</h6>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                            <button type="button" class="btn btn-primary" id="delLabConfirm">確定刪除</button>
                        </div>
                    </div>
                </div>
            </div>
            {% include 'components/lab_tch.html' %}
        </div>
    </div>
    <div class="container container_close">
        <div class="content">
            <a href="{% url 'lab_submit' course_id lab_id %}"><button class="btn btn-secondary">查看學生繳交情況</button></a>
        </div>
    </div>

    {# import jQuery #}
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script>
    {
        let delBtn = $('#delLabConfirm');
        {# 刪除 Lab 時，確認按鈕的行為 #}
        delBtn.click(function () {
            delBtn.attr('disabled', true);
            $.ajax({
                type: 'DELETE',
                url: window.location.href,
                {# 補上 csrf token #}
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
            })
                .done(function(response) {
                    window.location.href = "{% url 'course' course_id %}";
                })
                .fail(() => delBtn.attr('disabled', false));
        });
    }
    </script>
{% endblock %}