<div class="float-end">
    <button class="btn btn-primary">新增 Lab</button>
</div>
<table class="table table-light table-hover">
    <thead class="table-secondary">
        <tr>
            <th scope="col">繳交人數</th>
            <th scope="col">實驗名稱</th>
            <th scope="col">繳交期限</th>
            <th scope="col">顯示作業</th>
        </tr>
    </thead>
    <tbody>
    {% with lab_id=1 %}
        <tr>
            <td>40/50</td>
            <td><a href="{% url 'lab_detail' course_id lab_id %}">Lab1: DevOps</a></td>
            <td>2021/11/30 23:59</td>
            <td><input class="form-check-input" type="checkbox" aria-label="" checked></td>
        </tr>
        <tr>
            <td>0/50</td>
            <td>Lab2: SonarQube</td>
            <td>2021/12/07 23:59</td>
            <td><input class="form-check-input" type="checkbox" aria-label=""></td>
        </tr>
    {% endwith %}
    </tbody>
</table>