{% extends 'base.html' %}
{% load static %}
{% load nav_tag %}
{% load url %}
{% block title %}
    Jenkins Pipeline Console
{% endblock %}
{% block body %}
{% get_name request as username %}
{% include 'cicd_nav.html' with project=info.name %}
    <div class="container container_close">
        <div class="repo_content">
            <h1 style="text-align: center">Jenkins Pipeline Console</h1>
            <div class="align_both_sides ver_mid">
                <pre>{% for line in build_info %}
{% if '[Pipeline]' in line %}<span class="pipeline_new_node">{{ line }}</span>{% else %}{{ line }}{% endif %}{% endfor %}
</pre>
            </div>
        </div>
    </div>
{% endblock %}