# docker
# set value with run "$(stat -c '%g' /var/run/docker.sock)"
DOCKER_GID=998

# db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# web
WEB_DB=flowlab

# gitlab
GITLAB_IMG_TAG=gitlab/gitlab-ce:14.2.1-ce.0
GITLAB_ROOT_USERNAME=username
GITLAB_ROOT_PASSWORD=password
GITLAB_HOST=example.com
GITLAB_HTTP_PORT=80
GITLAB_SSH_PORT=22
GITLAB_ROOT_PRIVATE_TOKEN=personal_access_token

# jenkins
JENKINS_IMG_TAG=jenkins/jenkins:2.319.2
JENKINS_ROOT_USERNAME=username
JENKINS_ROOT_PASSWORD=password
JENKINS_HOST=example.com
JENKINS_PORT=8000
JENKINS_AGENT_PORT=50000
JENKINS_API_TOKEN=token

# sonarqube
SONARQUBE_IMG_TAG=sonarqube/sonarqube:8.9-community
SONARQUBE_ROOT_USERNAME=username
SONARQUBE_ROOT_PASSWORD=password
SONARQUBE_HOST=example.com
SONARQUBE_PORT=9000
SONARQUBE_SHARED_TOKEN=shared_token
