# db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# web
WEB_DB=flowlab

# gitlab
GITLAB_IMG_TAG=gitlab/gitlab-ce:14.2.1-ce.0
GITLAB_ROOT_PASSWORD=password
GITLAB_HOST=example.com
GITLAB_HTTP_PORT=80
GITLAB_SSH_PORT=22
GITLAB_ROOT_PRIVATE_TOKEN=personal_access_token
