{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>老虎的前端練習</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/mystyle.css' %}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'development' %}">Home</a></li>
            <li><a href="news.asp">Courses</a></li>
            <li><a href="contact.asp">Repository</a></li>
            <li><a href="about.asp">Analysis</a></li>
            <li style="float:right"><a></a></li>
            <li style="float:right"><a href="{% url 'login' %}">Login</a></li>
            <li style="float:right"><a>Logout</a></li>
            <div style="float:right; padding: 14px 16px;"><a>{User Name}</a></div>
        </ul>
    </nav>

    <div style="height: 40px;"></div>
    <h1>前端練習-首頁</h1>

    <div style="margin:auto">
        <img src="{% static 'core/images/devopos.png' %}" alt="DevOps" style="display:block; margin:auto; width: 60%;">
        資料來源：https://www.softwebsolutions.com/resources/devops-and-microservices.html
    </div>
</body>

</html>
