{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>老虎的前端練習</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/mystyle.css' %}">
{#    <link rel="stylesheet" href="css/hard.css" />#}
</head>

<body>
    <nav>
        <ul>
            <li><a href="{% url 'development' %}">Home</a></li>
        </ul>
    </nav>

    <div style="height: 40px"></div>
    <h1>前端練習-登入頁面</h1>

    <div class="row">
        <div class="col.md-1">
            <div style="width: 250px;">
                <form>
                    <div class="login_content_title">
                        <h4>UserName：</h4>
                    </div>
                    <div class="login_content">
                        <input type="text" id="username" name="username"><br>
                    </div>
                    <div class="login_content_title">
                        <h4>Password：</h4>
                    </div>
                    <div class="login_content">
                        <input type="text" id="password" name="password"><br>
                    </div>
                    <div class="login_content login_content_btn">
                        <button class="btn_index_login" type="submit">登入</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>