{% extends 'base.html' %}
{% load static %}
{% block title %}
    儲存庫列表
{% endblock %}
{% block body %}
    <div class="container_close">
        <div class="content">
            <h1 style="padding: 20px 0 0 0; text-align: center;">projects</h1>
            <div class="right_content">
                <button class="btn btn-primary mx-1" type="button" onclick="location.href='{% url 'repo_new_template' %}'">新增模板專案</button>
                <button class="btn btn-primary mx-1" type="button" onclick="location.href='{% url 'repo_new_blank' %}'">新增空白專案</button>
            </div>
        </div>
        <div class="content projects_content">
            <ul style="padding: 5px;">
                {% if projects|length == 0 %}
                    <li style="text-align: center; list-style: none;"><h6>No project.</h6></li>
                {% else %}
                    {% for project, info in projects.items %}
                    <li class="d-flex border-bottom">
                        <div class="col-md-6 me-auto">
                            <h6><a href="{% url 'repo_project' user.username project %}">{{ project }}</a></h6>
                        </div>
                        <div class="col-md-2">
                            {% if info.branch_sum == 1 %}
                            <h6>{{ info.branch_sum }} branch</h6>
                            {% else %}
                            <h6>{{ info.branch_sum }} branches</h6>
                            {% endif %}
                        </div>
                        <div class="col-md-3">
                            <h6>{{ info.last_activity_at }}</h6>
                        </div>
                        {# 老師才有資格匯出模板 #}
                        {% if identity == 'teacher' %}
                            {# more... 下拉式選單 #}
                            <div class="col-md-1 d-flex align-items-center dropdown">
                                <button class="btn dropdownMore" type="button" id="dropdownMore" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="{% static 'ci/images/more.png' %}" width="20px" alt="more">
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMore">
                                    <li class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exportModal">匯出模板</li>
                                </ul>
                                {#  匯出模板的互動視窗  #}
                                <div class="modal fade" id="exportModal" tabindex="-1" aria-labelledby="exportModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <form method="post" action="">
                                                {% csrf_token %}
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exportModalLabel">模板資訊</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    模板名稱:
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                                    <button type="submit" class="btn btn-primary">匯出</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}