{% extends 'base.html' %}
{% load static %}
{% block title %}
    儲存庫列表
{% endblock %}
{% block body %}
    <div class="container container_close">
        <div class="content">
            <h1 style="padding-top: 20px;">projects</h1>
        </div>
        <div class="high_content">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-start">
                    <div class="mx-1">搜尋<img src="{% static 'repo/images/search.png' %}" alt="search" style="height: 25px; padding-left: 5px;"></div>
                    <div style="border-right: 1px solid navy; padding-left: 5px; margin-right: 5px;"></div>
                    <div class="mx-1">篩選<img src="{% static 'repo/images/filter.png' %}" alt="filter" style="height: 25px; padding-left: 5px;"></div>
                </div>
                <div>
                    <button class="btn btn-primary mx-1" type="button" onclick="location.href='{% url 'repo_new_template' %}'">新增模板專案</button>
                    <button class="btn btn-primary mx-1" type="button" onclick="location.href='{% url 'repo_new_blank' %}'">新增空白專案</button>
                </div>
            </div>
            
        </div>
        <div class="content projects_content">
            <ul style="padding: 5px;">
                {% if projects|length == 0 %}
                    <li style="text-align: center; list-style: none;"><h6>No project.</h6></li>
                {% else %}
                    {% for project, info in projects.items %}
                    <li class="d-flex border-bottom">
                        <div class="col-md-8">
                            <h6><a href="{% url 'repo_project' user.username project %}">{{ project }}</a></h6>
                        </div>
                        <div class="col-md-2">
                            {% if info.branch_sum == 1 %}
                            <h6>{{ info.branch_sum }} branch</h6>
                            {% else %}
                            <h6>{{ info.branch_sum }} branches</h6>
                            {% endif %}
                        </div>
                        <div class="col-md-2">
                            <h6>{{ info.last_activity_at }}</h6>
                        </div>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}