{% extends 'base.html' %}
{% block title %}
    新增模板專案
{% endblock %}
{% block body %}
    <h1 style="padding: 20px 0 0 0; text-align: center;">新增模板專案</h1>
    <div class="container_close">
        <div class="new_repo_context">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <div style="margin: 10px 0;">模板選擇</div>
                    <label for="{{ form.template.id_for_label }}" style="display:inline;"></label>
                    <select class="form-select" id="{{ form.template.id_for_label }}" name="{{ form.template.html_name }}" required="">
                        {% for template in form.template %}
                            {{ template.tag }}
                        {% endfor %}
                    </select>
                </div>
                <hr style="height: 3px; background: #0000A6;">
                <div class="mb-3">
                    <label for="{{ form.name.id_for_label }}" style="margin: 10px 0;">專案名稱</label>
                    {{ form.name }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.description.id_for_label }}" style="margin: 10px 0;">專案敘述 (選填)</label>
                    {{ form.description }}
                </div>
                <hr style="height: 3px; background: #0000A6;">
                {% for visible in form.visibility %}
                <div class="form-check">
                    {{ visible.tag }}
                    <label class="form-check-label" for="{{ visible.id_for_label }}">
                        {{ visible.choice_label.name }}<br>
                        <span style="color: #5A5A5A;">{{ visible.choice_label.info }}</span>
                    </label>
                </div>
                {% endfor %}
                <div class="high_content">
                    <button class="btn btn-primary" type="submit">建立專案</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}