<div style="padding: 15px;">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownBranch" data-bs-toggle="dropdown" aria-expanded="false">
        <span style="width: 100px;">
        {% if curr_branch %}
            {{ curr_branch }}
        {% else %}
            {{ project.branch }}
        {% endif %}
        </span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownBranch">
        {% for branch in project.branches %}
            <li><a class="dropdown-item" href="{% url 'repo_tree_root' user.username project.name branch.name %}">{{ branch.name }}</a></li>
        {% endfor %}
    </ul>
</div>