{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/mystyle.css' %}">
{#    <link rel="stylesheet" href="css/hard.css" />#}
</head>

<body>
    <nav>
        <ul>
            {# logo 圖片來源: https://www4.flamingtext.com/net-fu/jobs/27332323579007012.html #}
            <li><img src="{% static 'core/images/flowlab-logo.png' %}" alt="FlowLab"
                     style="display:block; margin:auto; height: 46px; padding: 8px;"></li>
            <li><a href="{% url 'development' %}">Home</a></li>
        </ul>
    </nav>

    <div style="height: 50px"></div>

    <div class="container">
        <div class="content">
            <div class="col.md-1">
                <h1>登入 FlowLab</h1>
                <div>
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="login_content_title">
                            <label>UserName：</label>
                        </div>
                        <div class="login_content">
                            {{ form.username }}
                        </div>
                        <div class="login_content_title">
                            <label>Password：</label>
                        </div>
                        <div class="login_content">
                            {{ form.password }}
                        </div>
                        <div class="login_content login_content_btn">
                            <button class="btn_index_login" type="submit">登入</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>