{% extends 'base.html' %}
{% load static %}
{% load nav_tag %}
{% block title %}
    Jenkins File
{% endblock %}
{% block body %}
{% get_name request as username %}
{% include 'cicd_nav.html' with project=info.name %}
    <div class="container container_close">
        <div class="align_both_sides">
            <div class="col-md-5">
                <h5>Jenkins File Puzzle</h5>
                <div class="jenkins_puzzle">pipeline</div>
                <div class="jenkins_puzzle puz_add puz_2">+ options</div>
                <div class="jenkins_puzzle puz_add puz_2">+ stages</div>
                <div class="puz_bl_2">
                    <div class="jenkins_puzzle puz_2">
                        agent
                        <label>
                            <input type="text" value="none" class="form-control puz_form">
                        </label>
                    </div>
                </div>
                <div class="puz_bl_2">
                    <div class="jenkins_puzzle puz_2">stages</div>
                    <div class="jenkins_puzzle puz_add puz_3">+ stage</div>
                    {#        第一個 stage        #}
                    <div class="puz_bl_3">
                        <div class="jenkins_puzzle puz_3">
                            stage(
                            <label>
                                <input type="text" value="Build" class="form-control puz_form">
                            </label>
                            )
                        </div>
                        <div class="jenkins_puzzle puz_add puz_4">+ stage</div>
                        <div class="puz_bl_4">
                            <div class="jenkins_puzzle puz_4">agent</div>
                            <div class="jenkins_puzzle puz_5">
                                <label>
                                    <input type="text" value="docker 'maven:3-alpine'" class="form-control puz_form">
                                </label>
                            </div>
                        </div>
                        <div class="puz_bl_4">
                            <div class="jenkins_puzzle puz_4">steps</div>
                                <div class="jenkins_puzzle puz_5">
                                    <label>
                                        <textarea class="form-control puz_form">
echo 'Hello, Maven'
sh 'mvn --version'</textarea>
                                    </label>
                                </div>
                        </div>
                    </div>
                    {#        第二個 stage        #}
                    <div class="puz_bl_3">
                        <div class="jenkins_puzzle puz_3">
                            stage(
                            <label>
                                <input type="text" value="Test" class="form-control puz_form">
                            </label>
                            )
                        </div>
                        <div class="jenkins_puzzle puz_add puz_4">+ stage</div>
                        <div class="puz_bl_4">
                            <div class="jenkins_puzzle puz_4">agent</div>
                            <div class="jenkins_puzzle puz_5">
                                <label>
                                    <input type="text" value="docker 'openjdk:8-jre'" class="form-control puz_form">
                                </label>
                            </div>
                        </div>
                        <div class="puz_bl_4">
                            <div class="jenkins_puzzle puz_4">steps</div>
                            <div class="jenkins_puzzle puz_5">
                                <label>
                                    <textarea class="form-control puz_form">
echo 'Hello, JDK'
sh 'java -version'</textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="align_both_sides">
                    <h5>Jenkinsfile</h5>
                    <button class="btn btn-secondary">Download</button>
                </div>
                <div class="jenkins_code_content">
                <pre><code style="font-size: 16px;">pipeline {
    agent none
    stages {
        stage('Build') {
            agent {
                docker 'maven:3-alpine'
            }
            steps {
                echo 'Hello, Maven'
                sh 'mvn --version'
            }
        }
        stage('Test') {
            agent {
                docker 'openjdk:8-jre'
            }
            steps {
                echo 'Hello, JDK'
                sh 'java -version'
            }
        }
    }
}</code></pre>
                </div>
            </div>
        </div>
    </div>
{% endblock %}