{% extends 'base.html' %}
{% load static %}
{% load nav_tag %}
{% block title %}
    儲存庫預覽
{% endblock %}
{% block body %}
{% get_name request as username %}
    <div class="container container_close">
        <div class="content">
            <form>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">Jenkins File</button>
                </a>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">analysis</button>
                </a>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">code</button>
                </a>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">build</button>
                </a>
                <a href="{% url 'analysis' %}">
                    <button class="btn_ci_flow btn-md" type="button">test</button>
                </a>
            </form>
        </div>
    </div>
    <div class="container container_close">
        <div class="repo_content">
            <h1 style="text-align: center">儲存庫預覽區塊</h1>
            <div>
                <h2>{{ username }} / {{ info.name }}</h2>
            </div>
            <div>
                {% if info.branch_sum == 1 %}
                <h5>{{ info.branch_sum }} branch</h5>
                {% else %}
                <h5>{{ info.branch_sum }} branches</h5>
                {% endif %}
            </div>
            <hr style="height: 3px; background: #aaaaaa; margin: 0">
            <div class="align_both_sides">
                <div class="ver_mid">
                    <div style="padding: 15px;">
                        <button class="btn-sm ver_mid">
                            <span style="width: 100px;">{{ info.branch }}</span>
                            <img src="{% static 'core/images/arrow-down.png' %}"
                                 style="width: 10px; float: right" alt="drop_down">
                        </button>
                    </div>
                    <div>
                        <h5>{{ path }} path / file {{ file }}</h5>
                    </div>
                </div>
                <div class="ver_mid">
                    <div>
                        <button class="btn-sm ver_mid" style="padding: 7px;">
                            <img src="{% static 'core/images/download.png' %}" 
                                 style="width: 15px; margin: auto 5px;" alt="download">
                            <img src="{% static 'core/images/arrow-down.png' %}" 
                                 style="width: 10px; margin: auto 5px;" alt="drop_down">
                        </button>
                    </div>
                    <div style="padding: 15px;">
                        <button class="btn-sm"><span style="width: 60px;">clone</span></button>
                    </div>
                </div>
            </div>

            <div class="frame_gray align_both_sides">
                <div class="ver_mid">
                    <div class="col-md-auto">
                        <h6>{{ info.author_name }}</h6>
                    </div>
                    <div style="color: #585858">
                        {{ info.last_info }}
                    </div>
                </div>
                <div class="ver_mid">
                    <div class="col-md-auto">
                        <h6>{{ info.last_time }}</h6>
                    </div>
                    <div class="copy_sha">
                        <h6 style="margin-right: 5px;">{{ info.sha }}</h6>
                        <button class="btn-sm">COPY</button>
                    </div>
                </div>
            </div>

            <div class="frame_files">
                <div class="frame_files_header">
                    <div style="width: 300px;" class="col-md-auto text_left">
                        <h5>Name</h5>
                    </div>
                    <div style="width: calc(100% - 500px);" class="col-md-auto text_left">
                        <h5>last commit</h5>
                    </div>
                    <div style="width: 200px;" class="col-md-auto text_left">
                        <h5>last update</h5>
                    </div>
                </div>
                {% for key, file in files.items %}
                <div class="frame_files_info">
                    <div style="width: 300px;" class="col-md-auto text_left">
                        <h6><a href="{% url 'repo_blob' username info.name file.name %}">{{ file.name }}</a></h6>
                    </div>
                    <div style="width: calc(100% - 500px);" class="col-md-auto text_left">
                        <h6>{{ file.last_info }}</h6>
                    </div>
                    <div style="width: 200px; text-align: left;" class="col-md-auto text_left">
                        <h6>{{ file.last_time }}</h6>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}