{% extends 'base.html' %}
{% load static %}
{% load nav_tag %}
{% block title %}
    儲存庫列表
{% endblock %}
{% block body %}
{% get_name request as username %}
{% with project='reponame' %}
    <h1 style="padding: 20px 0 0 0; text-align: center;">projects</h1>
    <div class="container_close">
        <div class="content projects_content">
            <ul style="padding: 5px;">
                <li class="d-flex border-bottom">
                    <div class="col-md-8">
                        <h6><a href="{% url 'repo_project' username project %}">labs{{ reponame }}</a></h6>
                    </div>
                    <div class="col-md-2">
                        <h6>2 days ago{{ time }}</h6>
                    </div>
                    <div class="col-md-2">
                        <h6>4 branches{{ branchsum }}</h6>
                    </div>
                </li>
                <li class="d-flex border-bottom">
                    <div class="col-md-8">
                        <h6>flowlab</h6>
                    </div>
                    <div class="col-md-2">
                        <h6>1 minute ago</h6>
                    </div>
                    <div class="col-md-2">
                        <h6>3 branches</h6>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endwith %}
{% endblock %}