{% extends 'base.html' %}
{% load static %}
{% load nav_tag %}
{% block title %}
    新增儲存庫
{% endblock %}
{% block body %}
    <h1 style="padding: 20px 0 0 0; text-align: center;">新增儲存庫</h1>
    <div class="container_close">
        <div class="new_repo_context">
            <form method="post" action="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="repo_name" style="margin: 10px 0;">Project Name</label>
                    <input type="text" class="form-control" id="repo_name" required>
                </div>
                <div class="mb-3">
                    <label for="repo_description" style="margin: 10px 0;">Project Description (選填)</label>
                    <textarea class="form-control" id="repo_description" rows="3" placeholder="Description format"></textarea>
                </div>
                <hr style="height: 3px; background: #0000A6;">
                <div class="form-check">
                    <label class="form-check-label" for="repo_visibility_true">
                        <div>
                            Internal<br>
                            <span style="color: #5A5A5A;">The project can be accessed by any logged in user except external users.</span>
                        </div>
                    </label>
                    <input class="form-check-input" type="radio" name="repo_visibility" id="repo_visibility_true" required>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="repo_visibility_false">
                        <div>
                            Private<br>
                            <span style="color: #5A5A5A;">Project access must be granted explicitly to each user. If this project is part of a group, access will be granted to members of the group.</span>
                        </div>
                    </label>
                    <input class="form-check-input" type="radio" name="repo_visibility" id="repo_visibility_false" required>
                </div>
                <hr style="height: 3px; background: #0000A6;">
                <div class="form-check">
                    <label class="form-check-label" for="add_jenkinsfile">Initialize repository with a Jenkinsfile</label>
                    <input class="form-check-input" type="checkbox" value="" id="add_jenkinsfile" checked disabled>
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="add_readme">Initialize repository with a README</label>
                    <input class="form-check-input" type="checkbox" value="" id="add_readme">
                </div>
                <div class="high_content">
                    <button type="submit">Create Project</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}