/* 上方導航列 */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #f3f3f3;*/
    background-color: #D9F5FFFF;
    /* fixed navigation bar */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* 垂直置中 */
    /*display: flex;*/
    /*align-items: center;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    /*background-color: #DDDDDD;*/
    background-color: lightblue;
    color: #000;
}

.active {
    background-color: #6CC3D5;
    color: white;
}

.ver_mid {
    /* 垂直置中 */
    display: flex;
    align-items: center;
}

.align_both_sides {
    /* 對齊左右兩邊 */
    display: flex;
    justify-content: space-between;
}


body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    margin-right: 20px;
}

h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*FORM*/
.form_title {
    font-weight: 900;
    margin-bottom: 10px;
}

.form-row {
    margin-top: 5px;
}

.form-row label {
    color: #4D4D4D;
    font-weight: 800;
}

/*btn*/
button {
    outline: none ! important;
}

.btn_index_login {
    color: white;
    background: #633974;
    border: none;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.1s linear;
    cursor: pointer;
}

.btn_index_login:hover {
    color: white;
    background: #FF6722;
    transition: 0.1s linear;
}

.btn_gray {
    float: right;
    font-weight: bold;
    color: white;
    background: #5FAEC6;
    border: none;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.1s linear;
    cursor: pointer;
}

.btn_gray:hover {
    color: white;
    background: #3290B0;
}

.btn_nav_login {
    color: #4D4D4D;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #4D4D4D;
    padding: 5px 20px 5px 20px;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.1s linear;
}

.btn_nav_login:hover {
    color: white;
    background: #4D4D4D;
    transition: 0.1s linear;
    cursor: pointer;
}

/* button's size */
.btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: .3rem
}

.btn-md {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

.btn_ci_flow {
    color: #1b1b1b;
    background-color: #aaaaaa;
    border-radius: 30px 30px 30px 30px;
    border: 2px solid #4D4D4D;
}

.btn_ci_flow:hover {
    color: white;
    background: #4D4D4D;
    transition: 0.1s linear;
    cursor: pointer;
}

/*login page*/
.login_title {
    text-align: center;
    margin-top: 50px;
}

.login_title > h3 {
    font-weight: 700;
    color: #4d4d4d;
}

.login_content_title {
    margin: 20px
}

.login_content_title > h5 {
    font-weight: 700;
    color: #633974;
}

.login_content {
    margin: 20px;
}

.login_content_btn {
    text-align: center;
}

.login_content_img {
    position: relative;
    min-height: 200px
}

.login_content_img img {
    width: 100px;
    height: 46px;
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 50px);
}

.login_content > input {
    width: 200px;
    border: 0;
    border-bottom: 2px solid #633974;
    color: #633974;
    font-weight: bold;
    padding: .375rem .75rem;
}

.login_content > input:hover {
    border-bottom: 2px solid #FF6722;
    transition: 0.1s linear;
}

.login_content > input:focus {
    border-bottom: 2px solid #FF6722;
    transition: 0.1s linear;
    outline: none ! important;
}

/* register */
.register_content_title {
    margin: 20px;
}

.register_content_title > h5 {
    font-weight: 700;
    color: #633974;
}

.register_content {
    margin: 20px;
}






.container {
    /*border: 1px solid red;*/
    /* 垂直置中 */
    position: relative;
    padding: 100px 0;
    display: flex;
    align-items: center;
}

.content {
    /*border: 1px solid blue;*/
    width: 100%;
    /* 水平置中 */
    margin: 0 auto;
    text-align: center;
}

.container_close {
    padding: 20px;
}

#dark div {
    background-color: #999999;
}

#light div {
    background-color: #d9f5ff;
}


.row {

}


.col.md-1,
.col-md,
.col-md-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.text_left {
    text-align: left;
}

/* 儲存庫預覽區塊 */
.repo_content {
    /*border: 1px solid blue;*/
    width: 70%;
    /* 水平置中 */
    margin: 0 auto;
    text-align: left;
}

.frame_gray {
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 10px 10px 10px 10px;
}

/* 儲存庫檔案瀏覽區 */
.frame_files_header {
    border: 1px solid cornflowerblue;
    background-color: #d9f5ff;
    border-radius: 10px 10px 0 0;
    display: flex;
    margin-top: 20px;
}

.frame_files_content {
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 0 0 0 0;
    display: flex;
}

.frame_files_footer {
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 0 0 10px 10px;
    display: flex;
}

.copy_sha {
    display: flex;
    border: 1px solid gray;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.frame {
    border: 1px solid red;
}