{% load static %}
<div class="container container_close">
    <div class="content">
        <form>
            <a href="{% url 'jenkins_file' user.username project%}">
                <button class="btn_ci_flow btn-md" type="button">Jenkins File</button>
            </a>
            <a href="{% url 'analysis' %}">
                <button class="btn_ci_flow btn-md" type="button">analysis</button>
            </a>
            <a href="{% url 'repo_project' user.username project %}">
                <button class="btn_ci_flow btn-md" type="button">code</button>
            </a>
            <a href="{% url 'build' user.username project info.branch %}">
                <button class="btn_ci_flow btn-md" type="button">build</button>
            </a>
            <a href="{% url 'analysis' %}">
                <button class="btn_ci_flow btn-md" type="button">test</button>
            </a>
        </form>
    </div>
</div>