{% load static %}
<div class="container container_close">
    <div class="content">
        {% with url_name=request.resolver_match.url_name %}
        <form>
            <a href="{% url 'jenkins_file' user.username project %}">
                <button class="btn-md btn_ci_flow {%if url_name == 'jenkins_file' %}active{% endif %}" type="button">Jenkins File</button>
            </a>
            <a href="{% url 'repo_project' user.username project %}">
                <button class="btn-md btn_ci_flow {%if url_name == 'repo_project' %}active{% endif %}" type="button">程式碼 儲存庫</button>
            </a>
            <a href="{% url 'build' user.username project info.branch %}">
                <button class="btn-md btn_ci_flow {%if url_name == 'build' %}active{% endif %}" type="button">建構</button>
            </a>
            <a href="{% url 'test_reports' user.username project %}">
                <button class="btn-md btn_ci_flow {%if url_name == 'test_reports' %}active{% endif %}" type="button">測試報告</button>
            </a>
        </form>
        {% endwith %}
    </div>
</div>