{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>FlowLab</title>
    <link rel="stylesheet" type="text/css" href="{% static 'core/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/images/favicon.ico' %}">
</head>

<body>
    <nav>
        <ul>
            {# logo 圖片來源: https://www4.flamingtext.com/net-fu/jobs/27332323579007012.html #}
            <li><img src="{% static 'core/images/flowlab-logo.png' %}" alt="FlowLab"
                     style="display:block; margin:auto; height: 46px; padding: 8px;"></li>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'courses' %}">Courses</a></li>
            <li><a href="{% url 'repository' %}">Repository</a></li>
            <li><a href="{% url 'analysis' %}">Analysis</a></li>
            {% if not user.is_authenticated %}
            <li style="float:right"><a href="{% url 'login' %}">Login</a></li>
            {% else %}
            <li style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
            <div style="float:right; padding: 22px 16px;"><a>{{ username }}</a></div>
            {% endif %}
        </ul>
    </nav>

    <div style="height: 50px"></div>

    <div>
        <div class="container">
            <div class="content">
                <h1>FlowLab</h1>
                <h2>一套模擬 DevOps 與 CI/CD 自動化流程的實驗室。</h2>
            </div>
        </div>
    </div>

    <div id="light">
        <div class="container">
            <div class="content">
                <img src="{% static 'core/images/devops.png' %}" alt="DevOps" style="display:block; margin:auto; width: 60%;">
                資料來源：https://www.softwebsolutions.com/resources/devops-and-microservices.html
            </div>
        </div>
    </div>
</body>

</html>
