{% extends 'base.html' %}
{% load static %}
{% load url %}
{% block title %}
    {{ branch }} [{{ user.username }}_{{ info.name }}] [Jenkins]
{% endblock %}
{% block body %}
    {% include 'cicd_nav.html' with project=info.name %}
    <div class="container container_close">
        <div class="repo_content">
            <h1 style="text-align: center">Jenkins Pipeline {{ branch }}</h1>
            <div style="padding: 15px;">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownBranch" data-bs-toggle="dropdown" aria-expanded="false">
                    <span style="width: 100px;">{{ branch }}</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownBranch">
                    {% for branch in info.branches %}
                        <li><a class="dropdown-item" href="{% url 'build' user.username info.name branch.name %}">{{ branch.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% if build_results %}
            <div class="ver_mid">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">建置結果</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for num, result in build_results.items %}
                        <tr>
                            <td class="text-center"><a href="{% url 'build_console' user info.name branch num %}">第 {{ num }} 次</a></td>
                            <td class="text-center">
                                {% if result == 'success' %}
                                    <img src="{% static 'ci/images/success.png' %}" alt="success" style="height: 35px;">
                                {% elif result == 'failure' %}
                                    <img src="{% static 'ci/images/failure.png' %}" alt="failure" style="height: 35px;">
                                {% elif result == 'stop' %}
                                    <img src="{% static 'ci/images/stop.png' %}" alt="stop" style="height: 35px;">
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <h2 class="text-center">該分支上目前無建置結果</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}