{% extends 'base.html' %}
{% load static %}
{% block title %}
    Jenkins File
{% endblock %}
{% block body %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie-1.4.1.min.js' %}"></script>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        {% include 'cicd_nav.html' with project=info.name %}
    </div>
    <div class="col-sm-2 d-flex align-items-center">
        <button type="button" class="btn btn-light" data-bs-toggle="offcanvas" data-bs-target="#tips" aria-controls="tips">
            Tips
        </button>
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="tips" aria-labelledby=tipsLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="tipsLabel">Jenkins File 撰寫小提示</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h4>【加入 SonarQube 檢測】</h4>
                <p>
                    1. 在任意 stage 中加入 environment 的段落<br>
                    2. 設定 <mark><small>SONAR_TOKEN</small></mark> 與 <mark><small>PROJECT_NAME</small></mark> 變數<br>
                    3. <mark><small>PROJECT_NAME</small></mark> 的值是由 "你的使用者名稱" 加上"底線(_)" 再加上 "你的專案名稱" 而來<br><br>
                    steps 中的 sh 區段表示要執行的指令，其中需要<br>
                    4. 修改 <mark><small>&lt;IP&gt;</small></mark> 與 <mark><small>&lt;port&gt;</small></mark><br><br>
                    更完整的寫法 ↓ ↓ ↓
                </p>
                <pre><code>stage('Sonarqube') {
    environment {
        SONAR_TOKEN = credentials('sonarqube_token')
        PROJECT_NAME = '&lt;使用者名稱&gt;_&lt;專案名稱&gt;'
    }
    steps {
        sh '''./gradlew sonarqube \
            -Dsonar.projectKey=$PROJECT_NAME \
            -Dsonar.host.url=http://&lt;IP&gt;:&lt;port&gt; \
            -Dsonar.login=$SONAR_TOKEN
        '''
    }
}</code></pre>
            </div>
        </div>
    </div>
</div>
    <div class="container container_close">
        <div class="align_both_sides">
            <div class="col-md-5">
                <button type="button" class="btn btn-info" style="float: right;" id="switch_mode" value="puzzleMode">Simple Mode</button>
                <div id="simpleMode" style="display: none;">
                    <h5>Simple Setting</h5>
                    <form id="config_form" method="post" action="">
                        {% csrf_token %}
                        <div style="background: aliceblue; padding: 5px;">
                            <h6>需要修改的分支名稱：</h6>
                            <div class="ms-3" style="width: fit-content;">
                                <label for="selected_branch" style="display:inline;"></label>
                                <select class="form-select" id="selected_branch" name="selected_branch" required="">
                                    {% for branch in info.branches %}
                                        <option>{{ branch.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <h6>需要檢測的項目：</h6>
                            <div class="ms-3">
                                {% for test in test_select_form.selected_tests %}
                                    <div class="form-check form-switch">
                                        {{ test.tag }}
                                        <label class="form-check-label" for="{{ test.id_for_label }}">{{ test.choice_label }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <button class="btn btn-primary float-end" name="action" value="update">確認修改</button>
                    </form>
                </div>
                <div id="puzzleMode" style="display: block;">
                    <h5>Jenkins File Puzzle</h5>
                    <form method="post" action="" name="pipeline" id="pipe_form">
                        {% csrf_token %}
                        <div class="pipeline jenkins_puzzle">
                            pipeline
                            <div id="agent" class="puz_bl_2">
                                <div class="jenkins_puzzle puz_add puz_2" id="addAgent" onclick="newAgent()">
                                    + agent
                                    <img src="{% static 'core/images/question-mark.png' %}" alt="" style="width: 20px;">
                                </div>
                            </div>
                            <div id="stages" class="puz_bl_2">
                                <div class="jenkins_puzzle puz_add puz_2" id="addStages" onclick="newStages()">
                                    + stages
                                    <img src="{% static 'core/images/question-mark.png' %}" alt="" style="width: 20px;">
                                </div>
                            </div>
                            <div id="post" class="puz_bl_2">
                                <div class="jenkins_puzzle puz_add puz_2" id="addPost" onclick="newPost()">
                                    + post
                                    <img src="{% static 'core/images/question-mark.png' %}" alt="" style="width: 20px;">
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary float-end btn_pipe">Save</button>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="align_both_sides">
                    <h5>Jenkinsfile</h5>
                    <button id="btn_download" class="btn btn-secondary">Download</button>
                </div>
                <div class="jenkins_code_content">
                    <pre><code style="font-size: 16px;" class="pipeline_content">{{ pipe_content }}</code></pre>
                </div>
                {% if pipe_content %}
                <form method="post" action="">
                    {% csrf_token %}
                    <label>
                        <input type="hidden" name="pipe_content" value="{{ pipe_content }}">
                        <input type="hidden" name="selected_branch" value="{{ selected_branch }}">
                    </label>
                    <button id="push_pipeline" class="btn btn-primary float-end" style="display: block;" name="action" value="push">推送到儲存庫</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
<script src="{% static 'ci/js/new_puzzle.js' %}"></script>
<script src="{% static 'ci/js/jenkins_file.js' %}"></script>
<script>
    {# 切換 Jenkinsfile 的模式 #}
    $('#switch_mode').click(function (){
        let mode = $(this);
        if(mode.val() === 'simpleMode') {
            $('#simpleMode').css('display', 'none');
            $('#puzzleMode').css('display', 'block');
            $('#push_pipeline').css('display', 'none');
            mode.val('puzzleMode');
            mode.text('Simple Mode');
        }
        else if(mode.val() === 'puzzleMode'){
            $('#simpleMode').css('display', 'block');
            $('#puzzleMode').css('display', 'none');
            mode.val('simpleMode');
            mode.text('Puzzle Mode');
        }
    });
    {# 畫面載入後帶出固定必要的 Jenkinsfile 欄位 #}
    $(document).ready(function() {
        document.getElementById("addAgent").click();
        document.getElementById("addStages").click();
        document.getElementById("addStage").click();
    });
</script>
{% endblock %}